<div class="container">
  <table class="table table-bordered table-dark">
    <caption>bank transaction table</caption>
    <thead>
      <tr>
        <th>Client​ ​ID</th>
        <th>Credit​ ​Card​ ​ID</th>
        <th>Month</th>
        <th>Timestamp </th>
        <th>Transaction​ ​Type </th>
        <th>Amount </th>
      </tr>
    </thead>

    <tbody>

    <!--<tr ng-repeat="item in $ctrl.TableObject">-->
    <!--<td rowspan=item.rowspan" >{{tem.content}}</td>-->
    <!--</tr>-->


    <tr>
      <td rowspan=35" >3724782f-d245-4266-8dd0-cd216a602509</td>
    </tr>
          <tr >
            <td rowspan="14">5dd4ee73-9dec-4716-8d2e-835191b24bc7</td>
          </tr>

                    <tr>
                      <td rowspan="4">January</td>
                    </tr>
                                    <tr>
                                      <td rowspan="1" >Jan 18, 2017 03:26:45 PM</td>
                                      <td rowspan="1" >Credit </td>
                                      <td rowspan="1">715.42</td>
                                    </tr>
                                    <tr>
                                      <td rowspan="1">Jan 18, 2017 03:26:45 PM</td>
                                      <td rowspan="1">Credit </td>
                                      <td rowspan="1">815.42</td>
                                    </tr>
                                   <tr>
                                      <td rowspan="1">Jan 18, 2017 03:26:45 PM</td>
                                      <td rowspan="1">Credit </td>
                                      <td rowspan="1">915.42</td>
                                    </tr>


                    <tr>
                      <td rowspan="5">February</td>
                    </tr>
                                    <tr>
                              <td>Jan 18, 2017 03:26:45 PM</td>
                              <td>Credit </td>
                              <td>715.42</td>
                            </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>815.42</td>
                                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>915.42</td>
                                    </tr>
                                    <tr>
                            <td>Jan 18, 2017 03:26:45 PM</td>
                            <td>Credit </td>
                            <td>915.42</td>
                        </tr>


                    <tr>
                      <td rowspan=4">March</td>
                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>715.42</td>
                                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>815.42</td>
                                    </tr>
                                    <tr>
                            <td>Jan 18, 2017 03:26:45 PM</td>
                            <td>Credit </td>
                            <td>815.42</td>
                        </tr>



        <tr>
          <td rowspan="19">5dd4ee73-9dec-4716-8d2e-835191b24bc7</td>
        </tr>
                    <tr>
                      <td rowspan=6">January</td>
                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>715.42</td>
                                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>815.42</td>
                                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>915.42</td>
                                    </tr>
                                    <tr>
                                        <td>Jan 18, 2017 03:26:45 PM</td>
                                        <td>Credit </td>
                                        <td>815.42</td>
                                    </tr>
                                    <tr>
                                        <td>Jan 18, 2017 03:26:45 PM</td>
                                        <td>Credit </td>
                                        <td>915.42</td>
                                    </tr>


                    <tr>
                      <td rowspan=4">February</td>
                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>715.42</td>
                                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>815.42</td>
                                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>915.42</td>
                                    </tr>


                    <tr>
                      <td rowspan=4">March</td>
                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>715.42</td>
                                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>815.42</td>
                                    </tr>
                                    <tr>
                                      <td>Jan 18, 2017 03:26:45 PM</td>
                                      <td>Credit </td>
                                      <td>915.42</td>
                                    </tr>

                    <tr>
                        <td rowspan=4">March</td>
                    </tr>
                                    <tr>
                                        <td>Jan 18, 2017 03:26:45 PM</td>
                                        <td>Credit </td>
                                        <td>715.42</td>
                                    </tr>
                                    <tr>
                                        <td>Jan 18, 2017 03:26:45 PM</td>
                                        <td>Credit </td>
                                        <td>815.42</td>
                                    </tr>
                                    <tr>
                                        <td>Jan 18, 2017 03:26:45 PM</td>
                                        <td>Credit </td>
                                        <td>915.42</td>
                                    </tr>


    <tr>
        <td rowspan=9">client</td>
    </tr>
    <tr>
        <td rowspan=8">carta</td>
    </tr>
    <tr>
        <td rowspan=4">March</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>715.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>815.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>915.42</td>
    </tr>

    <tr>
        <td rowspan=3">September</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>815.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>915.42</td>
    </tr>



    <tr>
        <td rowspan=9">client</td>
    </tr>
    <tr>
        <td rowspan=8">carta</td>
    </tr>
    <tr>
        <td rowspan=4">March</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>715.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>815.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>915.42</td>
    </tr>

    <tr>
        <td rowspan=3">September</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>815.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>915.42</td>
    </tr>

    <tr>
        <td rowspan=9">client</td>
    </tr>
    <tr>
        <td rowspan=8">carta</td>
    </tr>
    <tr>
        <td rowspan=4">March</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>715.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>815.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>915.42</td>
    </tr>

    <tr>
        <td rowspan=3">September</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>815.42</td>
    </tr>
    <tr>
        <td>Jan 18, 2017 03:26:45 PM</td>
        <td>Credit </td>
        <td>915.42</td>
    </tr>

    </tbody>
  </table>

</div>


