<div class="container">
  <table class="table table-bordered table-dark">
    <caption>bank transaction table</caption>

    <thead>
      <tr>
        <th>Client​ ​ID</th>
        <th>Credit​ ​Card​ ​ID</th>
        <th>Month</th>
        <th>Timestamp </th>
        <th>Transaction​ ​Type </th>
        <th>Amount </th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in $ctrl.tableIterableobject ">
          <td ng-if="item.type == 'row'" ng-repeat="rowItem  in item.value track by $index" >{{rowItem.value}}</td>
          <td ng-if="item.type !== 'row'" rowspan="{{item.rowspan}}">{{item.value}}</td>
      </tr>
    </tbody>
  </table>

</div>


